// @import url('http://fonts.googleapis.com/css?family=Poppins');
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "EBGaramond-ExtraBold";
  src: url("/assets/fonts/EBGaramond-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "EBGaramond-Medium";
  src: url("/assets/fonts/EBGaramond-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "EBGaramond-SemiBold";
  src: url("/assets/fonts/EBGaramond-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "EBGaramond";
  src: url("/assets/fonts/EBGaramond-Regular.ttf") format("truetype");
}
// @font-face { // TODO download bold font
//     font-family: 'EBGaramond-Bold';
//     src: url('/assets/fonts/') format('truetype')
// }
